In [8]:
import pandas as pd
df=pd.read_csv("salaries.csv")

In [9]:
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [10]:
inputs=df.drop('salary_more_then_100k',axis='columns')

In [11]:
output=df.salary_more_then_100k

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
company_1=LabelEncoder()
job_1=LabelEncoder()
degree_1=LabelEncoder()

In [14]:
inputs['company_n'] = company_1.fit_transform(inputs['company'])

In [15]:
inputs['job_n'] = job_1.fit_transform(inputs['job'])

inputs['degree_n'] = degree_1.fit_transform(inputs['degree'])

In [16]:
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [17]:
input_1=inputs.drop(['company','degree','job'],axis='columns')

In [18]:
from sklearn import tree

In [19]:
model=tree.DecisionTreeClassifier()

In [20]:
model.fit(input_1,output)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

model.score()

In [21]:
model.score(input_1,output)

1.0